@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Somos un grupo de programadores principiantes que se nos ocurrió la idea de hacer un plataforma donde los músicos tengan la libertad de poder elegir sus lugares de ensayo.</p>
