@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Somos un grupo de programadores principiantes que se nos ocurrio la idea de hacer un plataforma donde los musicos tengan la libertad de elegir sus lugares de ensayo.</p>
