@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Buenos aires<br />
    Capital Federal, Raul Scalabrini Ortiz 582<br />
    <abbr title="Phone">Tlf:</abbr>
    11.2311.9826
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rrhh@buscobandas.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">admin@buscobandas.com</a>
</address>