@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BuscoSalas</h1>
    <p class="lead">Busca Salas para ensayar en buenos aires</p>
    <p><a href="http://asp.net" >@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn btn-primary btn-lg" })</a></p>
</div>


<div class="row maps-location">
    <!--Cambio hecho por Matias. Para que el mapa ocupe el ancho de la pantalla, puse el width en %100. Hay soluciones mejores, por favor cambiar por una solución mejor.-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d52548.946700855675!2d-58.450568471580546!3d-34.596342826854745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssalas+de+ensayo+-teatro!5e0!3m2!1ses-419!2sar!4v1520290660022" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>

<div class="row">
    <div class="container">
        <h1>Destacadas</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide multi-item-carousel" id="theCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-4"><a href="#1"><img src="https://http2.mlstatic.com/sala-de-ensayo-martinez-D_NQ_NP_471721-MLA20842111395_072016-F.jpg" class="img-responsive img-carousel"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="http://www.rosariorock.com/imagenes/avisos/7114278925287e2bf8663e.jpg" class="img-responsive img-carousel"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="http://www.jam.com.pe/images/paginas/1685-avatar.jpg" class="img-responsive img-carousel"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="https://i.ytimg.com/vi/YtLlUS-Hq5Q/maxresdefault.jpg" class="img-responsive img-carousel"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="https://static1.squarespace.com/static/53029fb1e4b0f8636b5e3b93/5769954de6f2e14c6e0c36e8/5769955bf5e2314d33e9691d/1466537327769/IMG_1816.jpg" class="img-responsive img-carousel"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="https://http2.mlstatic.com/salas-de-ensayo-en-villa-urquiza-D_NQ_NP_8989-MLA20009760090_112013-F.jpg" class="img-responsive img-carousel"></a></div>
                        </div>
                        <!-- add  more items here -->
                        <!-- Example item start:  -->

                        <div class="item">
                            <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/8bc34a/000000" class="img-responsive"></a></div>
                        </div>

                        <!--  Example item end -->
                    </div>
                    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>