
@{
    ViewBag.Title = "Musicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busca Salas</h2>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Barrio...">
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
    </span>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Sala</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Fruta</td>
            <td>Calle sin nombre</td>
            <td>112342556</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Moes</td>
            <td>Av siempre viva</td>
            <td>1155535366</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mango</td>
            <td>calle 1234</td>
            <td>1146633566</td>
        </tr>
        <tr>
            <th scope="row">Larry the Bird</th>
            <td colspan="2">callex</td>
            <td>115555555</td>
        </tr>
    </tbody>
</table>