
@{
    ViewBag.Title = "Musicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busca Salas</h2>

<div class="input-group">
    <div class="destacada">
        <h3>Sala Recomendada para ti! </h3>
        <div class="col-xs-12"><a href="#1"><img src="https://http2.mlstatic.com/sala-de-ensayo-martinez-D_NQ_NP_471721-MLA20842111395_072016-F.jpg" class="img-responsive img-carousel"></a></div>
    </div>
    <div class="search-block">
        <div class="input-search">
            <input type="text" class="form-control" placeholder="Barrio...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
        <div class="row maps-location bands">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d52548.946700855675!2d-58.450568471580546!3d-34.596342826854745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssalas+de+ensayo+-teatro!5e0!3m2!1ses-419!2sar!4v1520290660022" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="general-container">
    <div class="general-content">

    </div>
    <div class="sidebar-content">

    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Sala</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Fruta</td>
            <td>Calle sin nombre</td>
            <td>112342556</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Moes</td>
            <td>Av siempre viva</td>
            <td>1155535366</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mango</td>
            <td>calle 1234</td>
            <td>1146633566</td>
        </tr>
        <tr>
            <th scope="row">Larry the Bird</th>
            <td colspan="2">callex</td>
            <td>115555555</td>
        </tr>
    </tbody>
</table>